infrastructure_setup/tf/terraform.tfstate.backup
infrastructure_setup/tf/.terraform/providers/registry.terraform.io/hashicorp/local/2.5.3/darwin_amd64/LICENSE.txt
infrastructure_setup/tf/.terraform/providers/registry.terraform.io/hashicorp/local/2.5.3/darwin_amd64/terraform-provider-local_v2.5.3_x5
infrastructure_setup/tf/.terraform/providers/registry.terraform.io/terraform-provider-openstack/openstack/1.53.0/darwin_amd64/CHANGELOG.md
infrastructure_setup/tf/.terraform/providers/registry.terraform.io/terraform-provider-openstack/openstack/1.53.0/darwin_amd64/LICENSE
infrastructure_setup/tf/.terraform/providers/registry.terraform.io/terraform-provider-openstack/openstack/1.53.0/darwin_amd64/README.md
infrastructure_setup/tf/.terraform/providers/registry.terraform.io/terraform-provider-openstack/openstack/1.53.0/darwin_amd64/terraform-provider-openstack_v1.53.0
infrastructure_setup/tf/.terraform.lock.hcl
infrastructure_setup/tf/terraform.tfstate
